<!DOCTYPE html>
{{!-- help.hbs --}}

<html>
    <head>
        <title>Help</title>
        {{!-- add weather icon --}}
        <link rel="icon" href="/img/weather.png">
        <!-- relative path use -->
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body>
        <div class="main-content">
            {{!-- hbs partial header.hbs --}}
            {{>header}}
            <p>{{message}}</p>
        </div>

        {{!-- hbs partial footer.hbs --}}
        {{>footer}}
    </body>
</html>


